<h1>Shoe Stores</h1>
<p>&nbsp;</p>
<h3>Create Store Name:</h3>

<form action="/store" method="post">
  <input type="text" name="title" value="" placeholder="enter a name">
  <button type="submit" class="btn btn-info" name="button">create!</button>
</form>
<p>&nbsp;</p>
<h3>View a Store</h3>
<p>&nbsp;</p>
<%if @stores_list != []%>
<div class="container">
  <%@stores_list.each do |store|%>
  <div class="row">
    <div class="col-md-3">
      <h3><%= store.title %></h3>
    </div>
    <div class="col-md-1">
      <form class="form-inline" action="/stores/<%= store.id %>/edit" method="get">
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
    </div>
    <div class="col-md-1">
      <form class="form-inline" action="/stores/<%= store.id %>/remove" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <% end %>
</div>
<% else %>
  <p>There are no stores yet!</p>
<% end %>
